@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
  --dark: #091a40;
  --primary: #640bda;
  --trans: all 0.2s ease-in-out;
  --border: 3px solid var(--dark);
  --radius: 4px;
  --font: 'Righteous', cursive;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-weight: normal;
  font-family: var(--font);
  color: var(--dark);
}

.display_sec {
  min-height: calc(100vh - 164px);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 5%;
}

/* general */
a {
  text-decoration: none;
  color: var(--dark);
  transition: var(--trans);
}

a:hover {
  color: var(--primary);
}

.title {
  font-size: 44px;
  text-align: center;
  margin: 50px 0;
}

.time {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.btn {
  border-radius: var(--radius);
  padding: 10px 45px;
  border: var(--border);
  color: var(--dark);
  font-family: var(--font);
  font-size: inherit;
  margin-left: auto;
  transition: var(--trans);
  background: white;
}

.btn:hover {
  cursor: pointer;
  color: var(--primary);
  border-color: var(--primary);
}

/* header */
.header,
.footer {
  padding: 0 1.6rem;
  border: var(--border);
  border-radius: var(--radius);
  width: 95%;
  margin: 0 auto;
}

.header {
  margin-top: 20px;
}

.header .nav_bar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header .nav_bar .nav_brand:hover {
  color: var(--dark);
}

.header .nav_bar .nav_items {
  display: flex;
  list-style: none;
}

.header .nav_bar .nav_items li a {
  padding: 1rem 1rem;
  display: block;
  position: relative;
}

.header .nav_bar .nav_items li a.active {
  color: var(--primary);
}

.header .nav_bar .nav_items li a.active::after {
  content: '';
  height: 3px;
  position: absolute;
  width: 80%;
  padding: 1px;
  z-index: 2;
  left: 12%;
  bottom: 10px;
  background: var(--primary);
}

/* list books section */
.list_books {
  display: none;
}

.list_books.active {
  display: block;
}

.books_display {
  border: var(--border);
  border-radius: var(--radius);
  list-style: none;
}

.books_display li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.books_display li:nth-child(odd) {
  background: #eee;
}

.books_display li span {
  text-transform: capitalize;
}

/* add books section */
.add_books {
  display: none;
}

.add_books.active {
  display: block;
}

.add-book-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10%;
}

input {
  border: var(--border);
  border-radius: var(--radius);
  font-size: 1.2rem;
  width: 100%;
  margin: 0 auto 35px;
  padding: 0.5rem;
  font-family: var(--font);
}

input::placeholder {
  color: #091a40c7;
  font-size: 16px;
  font-family: var(--font);
  padding-left: 5px;
}

/* contact section */
.contact {
  display: none;
}

.contact.active {
  display: block;
}

.contact ul {
  margin-top: 30px;
  list-style: disc;
  list-style-position: inside;
  padding-left: 20px;
}

/* footer */
.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 20px;
}
